<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <connectionStrings>
      <add name ="DefaultConnection" connectionString="Data Source=LAPTOP-GCAMI11Q\MSSQLSERVER01;Initial Catalog=TutorialDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
      </connectionStrings>
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
